@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;	
}

p {
	margin-left: 2em;
	margin-right: 2em;
}

div#gameSpace, div#leftSpace, div#middleSpace, div#rightSpace, div.cardDeckSpace {
	background-color: #999;
}

div#gameSpace {
	width: 100%; 
	height: 100%;
	margin:0; 
	padding:0; 
}

footer {
	width: 100%;
	color: #333;
	margin-left: .5em;
	margin-top: .25em;	
}

div#leftSpace {
	width: 15%;
	height: 100%;
	float: left;
}

div#middleSpace {
	width: 60%;
	height: 100%;
	float: left;
}

div#rightSpace {
	width: 25%;
	height: 100%;
	float: left;
}

div.cardDeckSpace {
	width: 100%;
	height: 33.333%;
	border: 1px solid #333;
	box-sizing: border-box;
}

div#middleTop {
	width: 100%;
	height: 5%;
	background-color: black;
	color: white;
	font-size: 1.75em;
	padding-top: 5px;
	font-weight: bold;
	text-align: center;
}

div#middleMiddle {
	width: 100%;
	height: 85%;
	background-color: #999;
	border: 2px solid blue;
	box-sizing: border-box;
}

div.cell {
	width: 5%;
	height: 5%;
	background-color: #555;
	border: 1px solid #111;
	box-sizing: border-box;
	float: left;
	font-size: calc(1.1vw + 1.1vh);
	font-weight: bold;
	text-align: center;	
	cursor: pointer;
}


div#middleBottom {
	width: 100%;
	height: 10%;
	background-color: black;
}

#sm1, #sm2, #sm3 {
	width: 100%;
	height: 3%;
	background-color: black;
	color: #aaa;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

div.ff1 {
	float: left;
	text-align: center;
	margin-left: 15%;
	width: 80%;
}

div.ff2 {
	float: left;
	margin-left: 2%;
}
#f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8, #f9, #f10, #f11, #f12 {
	color: black;
	font-size: calc(1vw + 1vh);
	width: 5%;
}

#f1, #f3, #f5, #f7, #f9, #f11 {
	transform: rotate(10deg);
} 

#f2, #f4, #f6, #f8, #f10, #f12 {
	transform: rotate(-10deg);
}
 
#f1, #f5, #f9 {
	background-color: #00e;
}
#f2, #f6, #f10 {
	background-color: #0c0;
}
#f3, #f7, #f11 {
	background-color: #c00;
}
#f4, #f8, #f12 {
	background-color: #f0f;
}

div.cardDeckLightAndCard {
	width: 100%;
	height: 65%;
	float: left;
	margin-top: 15%;
	margin-left: 5%;
}

div.cardDeckLightSpace {
	width: 8%;
	height: 50%;
	margin-top: 20%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #999;
	float: left;
}

div.cardDeckLight {
	margin-top: 40%;
	width: 100%;
	height: 20%;
	background-color: #aaa;
	border-radius: 5em;
}

div.cardDeck {
	width: 50%;
	height: 100%;
	background-color: black;
	border-radius: 10px;
	float: left;
	cursor: pointer;
}

div.cardDeck:hover {
	//border: 2px solid yellow;
}

div.cardDeckLetter {
	width: 100%;
	height: 50%;
	margin-top: 40%;
	color: #ff0;
	font-size: calc(3vw + 3vh);
	text-align: center;
}

div.cardDeckName {
	width: 100%;
	height: 10%;
	background-color: #999;
	color: black;
	font-size: 2em;
	text-align: center;
	clear: both;;
}

div.playerScore {
	width: 100%;
	height: 25%;
	background-color: #999;
	border: 1px solid #333;
	box-sizing: border-box;
}

div.scoreBox {
	width: 33%;
	height: 50%;
	background-color: black;
	color: white;
	font-size: calc(3vw + 3vh);
	text-align: center;
	margin-left: 12%;
	margin-top: 6%;
	float: left;
	border-radius: 10px;
}

div.nameBox {
	width: 100%;
	height: 7%;
	background-color: #999;
	color: black;
	font-size: 2em;
	text-align: center;
	clear: both;
	margin-top: 5%;
}

div.scoreBoxName {
	width: 33%;
	height: 15%;
	background-color: #999;
	color: black;
	font-size: 2em;
	text-align: center;
	float: left;
	margin-left: 12%;
}

div.cellAvailable {
	cursor: pointer;
}

div.cellAvailable:hover {
	background-color: #888;
}

div.cellColor1 {
	color: #00e;
	background-color: black;
}

div.cellColor2 {
	color: #c00;
	background-color: black;
}

div.cellColor3 {
	color: #0c0;
	background-color: black;
}

div.cellColor4 {
	color: #f0f;
	background-color: black;
}

div.cellColor5 {
	color: #333;
	background-color: black;
}

div.cellOwner1 {
	border: 3px solid #44f;
}

div.cellOwner2 {
	border: 3px solid #f44;
}

div.cellOwner3 {
	border: 3px solid #4f4;
}

div.cellOwner4 {
	border: 3px solid #f0f;
}

.myButton {
	margin: 1em;
}



